body{
  /* background-color: black; */
  background: #F7ECDC;

  min-height: 100vh;
}

.app-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.container{
  padding: 20px;
}

.menu-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 30vw;
  /* background-color: aqua; */
  position: relative;
}

.menu-container .groups-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 60vh;
  overflow: auto;
  width: 100%;
  position: relative;
  /* background-color: red; */
  gap:10px;
}

.menu-container .group-item{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.menu-container .group-item .group-desc{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap:5px;
}

.menu-container .group-item .group-desc .group-item-icon{
  padding:5px;
  border-radius: 50%;
  background-color: gray;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border: 3px solid blue;
}

.menu-container .group-item .group-desc .group-item-name{
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bold;

}

.new-group-form{
  /* position: absolute; */
  /* top:90%; */
  top:0;
  /* left:50%; */
  background-color: white;
  /* display: none; */
  /* height: 10vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap:10px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}

.new-group-form input{
  border: none;
  outline: none;
  padding: 10px;
  /* border-bottom: 1px solid black; */
  border-radius: 10px;
}


.chats-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
width: 70vw;
  background-color: aliceblue;
}